In [1]:
import numpy as np 
import pandas as pd
import random
import os

np.random.seed(45)

In [2]:
no_dup_path='../Our Labeled Data/No_Dup/no_d/'
contains_dup_path='../Our Labeled Data/Contains_Dup/contains_d/'

In [3]:
no_dup_files = os.listdir(no_dup_path)
contains_dup_files = os.listdir(contains_dup_path)

### 1. Approach to create labeled data with features - word1, word2, isDuplicate

1. Randomly pick one file from the contains_duplicate dataset
2. Randomly pick two rows
3. Populate the output data with words and isDuplicate value according to the entity number from the two pairs of rows


In this approach we completely ignore the data statistics and context information

In [4]:
df1= pd.DataFrame({'w1':[], 'w2':[], 'count1':[], 'count2':[], 'total1':[], 'total2':[], 'isDuplicate':[]})
for _ in range(100):
    file=random.choice(contains_dup_files)
    file_path=contains_dup_path+file
    tempdf=pd.read_csv(file_path)
    for _ in range(10):
        t=tempdf.sample(n=2).reset_index()
        w1,c1,t1,e1=t.loc[0]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[0]['Entity_Number']
        w2,c2,t2,e2=t.loc[1]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[1]['Entity_Number']
        isDup=(e1==e2)
        df1= df1.append({'w1':w1, 'w2':w2, 'count1':c1, 'count2':c2, 'total1':t1, 'total2': t2, 'isDuplicate':isDup}, ignore_index=True)

In [5]:
df1[df1['isDuplicate']==0].shape, df1[df1['isDuplicate']==1].shape

((963, 7), (37, 7))

In [6]:
df1

,w1,w2,count1,count2,total1,total2,isDuplicate
0,Euro,euro,12319.0,12319.0,68023.0,68023.0,1.0
1,1999 LUF Euro / Euro,lev,534.0,534.0,68023.0,68023.0,0.0
2,Chilean peso,new sol,204.0,204.0,68023.0,68023.0,0.0
3,1999 ATS euro / euro,Hong Kong dollar,626.0,626.0,68023.0,68023.0,0.0
4,Singapore dollar,US dollar,1944.0,1944.0,68023.0,68023.0,0.0
...,...,...,...,...,...,...,...
995,Japanese Language Proficiency Test,Bellydance Dance Belly Dancing,1.0,1.0,31212.0,31212.0,0.0
996,Dance: African Dance and Drumming,Korean Language & Culture,3.0,3.0,31212.0,31212.0,0.0
997,Michigan Sports,Sport Touring Motorcycles,1.0,1.0,31212.0,31212.0,0.0
998,Paper Crafts,Boomer Wellness and Well-Being,16.0,16.0,31212.0,31212.0,0.0
999,LGBT Families San Francisco,Beauty Industry,1.0,1.0,31212.0,31212.0,0.0

### 2. Approach to create labeled data with features - word1, word2, isDuplicate

1. Randomly pick one file from the contains_duplicate dataset
2. Randomly pick two rows with a. same entitity number, b. different entitity number
3. Populate the output data with words and isDuplicate value according to the entity number from the two pairs of rows


In this approach we completely ignore the data statistics and context information

In [13]:
df2 = pd.DataFrame({'w1':[], 'w2':[], 'count1':[], 'count2':[], 'total1':[], 'total2':[], 'isDuplicate':[]})

for _ in range(100):
    file=random.choice(contains_dup_files)
    file_path=contains_dup_path+file
    tempdf=pd.read_csv(file_path)
    
    perEntityCatCount=tempdf['Entity_Number'].value_counts()

    for _ in range(3):
        tempdf['entityCount']=tempdf['Entity_Number'].apply(lambda x: perEntityCatCount[x])
        
        try:
            t=tempdf[tempdf['entityCount']>1].sample(n=1).reset_index()
            e=t.loc[0]['Entity_Number']
            t=tempdf[tempdf['Entity_Number']==e].sample(n=2).reset_index()
            w1,c1,t1,e1=t.loc[0]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[0]['Entity_Number']
            w2,c2,t2,e2=t.loc[1]['Category_Set'], t.loc[1]['Category_Occurrences'], t.loc[1]['Total_Examples'], t.loc[1]['Entity_Number']
            isDup=(e1==e2)
            df2 = df2.append({'w1':w1, 'w2':w2, 'count1':c1, 'count2':c2, 'total1':t1, 'total2': t2, 'isDuplicate':isDup}, ignore_index=True)
        except ValueError:
            pass

        try:
#             t=tempdf[tempdf['entityCount']==1].sample(n=2).reset_index()
            t=tempdf.sample(n=2).reset_index()
            w1,c1,t1,e1=t.loc[0]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[0]['Entity_Number']
            w2,c2,t2,e2=t.loc[1]['Category_Set'], t.loc[1]['Category_Occurrences'], t.loc[1]['Total_Examples'], t.loc[1]['Entity_Number']
            isDup=(e1==e2)
            df2 = df2.append({'w1':w1, 'w2':w2, 'count1':c1, 'count2':c2, 'total1':t1, 'total2': t2, 'isDuplicate':isDup}, ignore_index=True)

        except ValueError:
            pass

In [14]:
df2['isDuplicate'].value_counts()

1.0    314
0.0    286
Name: isDuplicate, dtype: int64

In [15]:
df3 = df2.drop_duplicates()

0.0    281
1.0    228
Name: isDuplicate, dtype: int64

In [16]:
df3.head(5)

,w1,w2,count1,count2,total1,total2,isDuplicate
0,French Language,French Language Lovers; French Language;,97.0,20.0,31212.0,31212.0,1.0
1,Spiritual Guidance,Waldorf Inspired Crafts,1.0,1.0,31212.0,31212.0,0.0
2,Science and Technology,Science & Technology,1.0,2.0,31212.0,31212.0,1.0
3,outdoor sketching,Social Networking for Mental Health Professionals,1.0,6.0,31212.0,31212.0,0.0
4,Creativity Acting Writing Directing,Creative Writing,3.0,156.0,31212.0,31212.0,1.0

In [17]:
df3['isDuplicate'].value_counts()

0.0    276
1.0    209
Name: isDuplicate, dtype: int64