In [23]:
from dedup_lib.generateFeatureFunc import generateNGramDF, generateDistanceMetricData
import numpy as np

In [35]:
data_path = "../data-extraction/1AllDuplicates_5NoDuplicates.csv"

# Generate NGrams Data

In [36]:
ngramsDF = generateNGramDF(data_path)
ngramsDF.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

/home/sohampachpande/projects/data-deduplication/code/dedup_lib/generateFeatureFunc.py:39: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[w+'_bigram_{}'.format(ch[0]+ch[1])] = df[w].apply(lambda x: x.count(ch[0]+ch[1]))

In [37]:
ngramsDF.head()

,w1,w2,count1,count2,total1,total2,isDuplicate,w1_number_of_words,w2_number_of_words,w1_unigram_a,...,w2_bigram_ q,w2_bigram_ r,w2_bigram_ s,w2_bigram_ t,w2_bigram_ u,w2_bigram_ v,w2_bigram_ w,w2_bigram_ x,w2_bigram_ y,w2_bigram_ z
0,lesotho,lesotho,89.0,368.0,48269.0,48269.0,0.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,09830-2602,09830-2602,1.0,1.0,1973.0,1973.0,0.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,a1050000000wves,a1050000000wves,265.0,151.0,4861.0,4861.0,0.0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,imports_of_services,imports_of_services,5504.0,7982.0,191325.0,191325.0,0.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,ca-mb ca-sb ca-sbe cdvbe mbe mosb sb sbasdb sd...,ca-mb ca-sb ca-sbe cdvbe mbe mosb sb sbasdb sd...,3781.0,1.0,346018.0,346018.0,0.0,9,9,4,...,0,0,3,0,0,0,0,0,0,0

# Generate Distance Feature Data

In [38]:
distFeatureDF = generateDistanceMetricData(data_path)
distFeatureDF.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

In [39]:
distFeatureDF.head()

,w1,w2,count1,count2,total1,total2,isDuplicate,jaccard_1,jaccard_2,jaccard_3,cosine_1,cosine_2,cosine_3,w_levenshtein
0,libya,lesotho,89.0,368.0,48269.0,48269.0,0.0,0.900000,1.000000,1.000000,0.850929,1.000000,1.000000,6.0
1,00850-9846,09830-2602,1.0,1.0,1973.0,1973.0,0.0,0.444444,0.875000,1.000000,0.222222,0.777778,1.000000,6.0
2,a1050000006tnqi,a1050000000wves,265.0,151.0,4861.0,4861.0,0.0,0.692308,0.642857,0.642857,0.072561,0.120951,0.164427,5.0
3,plus_statistical_discrepancy,imports_of_services,5504.0,7982.0,191325.0,191325.0,0.0,0.555556,0.923077,1.000000,0.313096,0.876909,1.000000,23.0
4,ca-mb ca-sb sb,ca-mb ca-sb ca-sbe cdvbe mbe mosb sb sbasdb sd...,3781.0,1.0,346018.0,346018.0,0.0,0.363636,0.590909,0.666667,0.088993,0.190076,0.279512,36.0

In [40]:
distFeatureDF.to_csv('./featurizedData/distFeatureData.csv', index=False)


### Generate Distance Feature data for Hold out dataset

In [31]:
data_path = "../data-extraction/holdOut/HoldOutTrainData.csv"
distFeatureDF = generateDistanceMetricData(data_path)
distFeatureDF.drop(['Unnamed: 0'], axis=1, inplace=True)
distFeatureDF.to_csv('./featurizedData/distFeatureData_holdOutTrain.csv', index=False)

In [33]:
data_path = "../data-extraction/holdOut/HoldOutTestData.csv"
distFeatureDF = generateDistanceMetricData(data_path)
distFeatureDF.drop(['Unnamed: 0'], axis=1, inplace=True)
distFeatureDF.to_csv('./featurizedData/distFeatureData_holdOutTest.csv', index=False)