In [2]:
import pandas as pd
import numpy as np

In [6]:
path = '../../data/error_analysis_RF_state_abb.csv'
df = pd.read_csv(path, usecols=['w1', 'w2', 'ground_truth', 'prediction'])

In [7]:
df['w1'] = df['w1'].apply(lambda x: str(x))
df['w2'] = df['w2'].apply(lambda x: str(x))

df['len w1'] = df['w1'].apply(lambda x: len(x))
df['len w2'] = df['w2'].apply(lambda x: len(x))

In [8]:
df['isCorrect'] = df['ground_truth']==df['prediction']

In [12]:
statesDic = {
    'alabama': 'al',
    'alaska': 'ak',
    'americansamoa': 'as',
    'arizona': 'az',
    'arkansas': 'ar',
    'california': 'ca',
    'colorado': 'co',
    'connecticut': 'ct',
    'delaware': 'de',
    'districtofcolumbia': 'dc',
    'florida': 'fl',
    'georgia': 'ga',
    'guam': 'gu',
    'hawaii': 'hi',
    'idaho': 'id',
    'illinois': 'il',
    'indiana': 'in',
    'iowa': 'ia',
    'kansas': 'ks',
    'kentucky': 'ky',
    'louisiana': 'la',
    'maine': 'me',
    'maryland': 'md',
    'massachusetts': 'ma',
    'michigan': 'mi',
    'minnesota': 'mn',
    'mississippi': 'ms',
    'missouri': 'mo',
    'montana': 'mt',
    'nebraska': 'ne',
    'nevada': 'nv',
    'newhampshire': 'nh',
    'newjersey': 'nj',
    'newmexico': 'nm',
    'newyork': 'ny',
    'northcarolina': 'nc',
    'northdakota': 'nd',
    'northernmarianaislands': 'mp',
    'ohio': 'oh',
    'oklahoma': 'ok',
    'oregon': 'or',
    'pennsylvania': 'pa',
    'puertorico': 'pr',
    'rhodeisland': 'ri',
    'southcarolina': 'sc',
    'southdakota': 'sd',
    'tennessee': 'tn',
    'texas': 'tx',
    'utah': 'ut',
    'vermont': 'vt',
    'virginislands': 'vi',
    'virginia': 'va',
    'washington': 'wa',
    'westvirginia': 'wv',
    'wisconsin': 'wi',
    'wyoming': 'wy'
}

In [18]:
def state_abv(x):
    if x.lower().strip() in statesDic:
        return statesDic[x.lower().strip()] 
    else:
        return x
df['w1'] = df['w1'].apply(lambda x: state_abv(x))
df['w2'] = df['w2'].apply(lambda x: state_abv(x))

### False Positives

In [19]:
falsePositives = df[(df['isCorrect']==False) & (df['ground_truth']==0.0)]
falsePositives

,w1,w2,ground_truth,prediction,len w1,len w2,isCorrect
31,italian grand prix,brazilian grand prix,0.0,1.0,18,20,False
515,north korea/united states of america,iraq/united states of america,0.0,1.0,36,29,False
786,greenhouse_gas_ghgs_emissions_without_land_use...,methane_ch4_emissions_without_land_use_land_us...,0.0,1.0,110,102,False
1362,sp.dyn.to65.ma.zs,sp.dyn.to65.fe.zs,0.0,1.0,17,17,False
1399,individual consumption expenditure of non-prof...,individual consumption expenditure of households,0.0,1.0,89,48,False
1535,brazilian grand prix,italian grand prix,0.0,1.0,20,18,False
2092,category 2,category 2,0.0,1.0,10,10,False
2136,ca-sbe cdvbe mbe mosb sb sbasdb sdvosb wbe wosb,ca-dvbe ca-mb ca-sb ca-sbe cdvbe dbe mbe mosb ...,0.0,1.0,47,55,False
2327,layer 1 down,layer 3 down,0.0,1.0,12,12,False
2463,layer 2 down,layer 3 down,0.0,1.0,12,12,False
2549,individual consumption expenditure of households,individual consumption expenditure of non-prof...,0.0,1.0,48,89,False
2599,methane_ch4_emissions_without_land_use_land_us...,greenhouse_gas_ghgs_emissions_without_land_use...,0.0,1.0,102,110,False
2840,iraq/united states of america,north korea/united states of america,0.0,1.0,29,36,False
2964,ca-dvbe ca-mb ca-sb ca-sbe cdvbe dbe mbe mosb ...,ca-sbe cdvbe mbe mosb sb sbasdb sdvosb wbe wosb,0.0,1.0,55,47,False

### False Negatives

In [22]:
falseNegatives = df[(df['isCorrect']==False) & (df['ground_truth']==1.0)]
falseNegatives.shape

(174, 7)

In [21]:
falseNegatives[falseNegatives['w1']!=falseNegatives['w2']].shape

(107, 7)

In [31]:
falseNegatives.groupby(['len w1']).sum()

        ground_truth  prediction  len w2  isCorrect
len w1
2               46.0         0.0     413          0
3                2.0         0.0      15          0
4                4.0         0.0       8          0
5                7.0         0.0      15          0
6                4.0         0.0       8          0
7                6.0         0.0      22          0
8                4.0         0.0       8          0
9                4.0         0.0       8          0
10               3.0         0.0      12          0
11               1.0         0.0       2          0
12               4.0         0.0       8          0
13               3.0         0.0       7          0
14               4.0         0.0      24          0
17               2.0         0.0      34          0
18               1.0         0.0      14          0
20               2.0         0.0       4          0
21               1.0         0.0      26          0
26               1.0         0.0      21          0

In [32]:
falseNegatives.groupby(['len w2']).sum()

        ground_truth  prediction  len w1  isCorrect
len w2
1                2.0         0.0       4          0
2               42.0         0.0     363          0
3                2.0         0.0      18          0
4                1.0         0.0       2          0
5                1.0         0.0       2          0
6                7.0         0.0      14          0
7                7.0         0.0      14          0
8                9.0         0.0      26          0
9                5.0         0.0      10          0
10               5.0         0.0      10          0
11               1.0         0.0       2          0
12               3.0         0.0      11          0
13               3.0         0.0       7          0
14               3.0         0.0      22          0
15               1.0         0.0       2          0
17               2.0         0.0      34          0
18               1.0         0.0      14          0
21               1.0         0.0      26          0
24               2.0         0.0       4          0
26               1.0         0.0      21          0

### Remove States

### Keep Words with len>2

In [37]:
longWordsDF = df[(df['len w1']>2) & (df['len w2']>2)]

In [48]:
falseNegativesLong = longWordsDF[(longWordsDF['isCorrect']==False) & (longWordsDF['ground_truth']==1.0)]
falsePositivesLong = longWordsDF[(longWordsDF['isCorrect']==False) & (longWordsDF['ground_truth']==0.0)]

In [46]:
df[df['ground_truth']==1].shape

(553, 7)

In [53]:
falseNegativesLong

,w1,w2,ground_truth,prediction,len w1,len w2,isCorrect
49,kurhaus,kurhaus-saal,1.0,0.0,7,12,False
745,prd,prdnationwide,1.0,0.0,3,13,False
867,associate counsel,associate council,1.0,0.0,17,17,False
1167,"partner, pryor cashman llp","pasricha & patel, llc",1.0,0.0,26,21,False
1908,associate council,associate counsel,1.0,0.0,17,17,False
2211,prdnationwide,prd,1.0,0.0,13,3,False
2506,month,mth,1.0,0.0,5,3,False
3198,senior partner,sr. staff attorney,1.0,0.0,14,18,False
3273,"pasricha & patel, llc","partner, pryor cashman llp",1.0,0.0,21,26,False
3337,well being,wellness,1.0,0.0,10,8,False
3372,sr. staff attorney,senior partner,1.0,0.0,18,14,False