In [1]:
import numpy as np 
import pandas as pd
import random
import os

np.random.seed(45)

In [2]:
no_dup_path='../Our Labeled Data/No_Dup/no_d/'
contains_dup_path='../Our Labeled Data/Contains_Dup/contains_d/'

In [3]:
no_dup_files = os.listdir(no_dup_path)
contains_dup_files = os.listdir(contains_dup_path)

### 1. Approach to create labeled data with features - word1, word2, isDuplicate

1. Randomly pick one file from the contains_duplicate dataset
2. Randomly pick two rows
3. Populate the output data with words and isDuplicate value according to the entity number from the two pairs of rows


In this approach we completely ignore the data statistics and context information

In [4]:
df1= pd.DataFrame({'w1':[], 'w2':[], 'count1':[], 'count2':[], 'total1':[], 'total2':[], 'isDuplicate':[]})
for _ in range(100):
    file=random.choice(contains_dup_files)
    file_path=contains_dup_path+file
    tempdf=pd.read_csv(file_path)
    for _ in range(10):
        t=tempdf.sample(n=2).reset_index()
        w1,c1,t1,e1=t.loc[0]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[0]['Entity_Number']
        w2,c2,t2,e2=t.loc[1]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[1]['Entity_Number']
        isDup=(e1==e2)
        df1= df1.append({'w1':w1, 'w2':w2, 'count1':c1, 'count2':c2, 'total1':t1, 'total2': t2, 'isDuplicate':isDup}, ignore_index=True)

In [5]:
df1[df1['isDuplicate']==0].shape, df1[df1['isDuplicate']==1].shape

((963, 7), (37, 7))

In [6]:
df1

,w1,w2,count1,count2,total1,total2,isDuplicate
0,Euro,euro,12319.0,12319.0,68023.0,68023.0,1.0
1,1999 LUF Euro / Euro,lev,534.0,534.0,68023.0,68023.0,0.0
2,Chilean peso,new sol,204.0,204.0,68023.0,68023.0,0.0
3,1999 ATS euro / euro,Hong Kong dollar,626.0,626.0,68023.0,68023.0,0.0
4,Singapore dollar,US dollar,1944.0,1944.0,68023.0,68023.0,0.0
...,...,...,...,...,...,...,...
995,Japanese Language Proficiency Test,Bellydance Dance Belly Dancing,1.0,1.0,31212.0,31212.0,0.0
996,Dance: African Dance and Drumming,Korean Language & Culture,3.0,3.0,31212.0,31212.0,0.0
997,Michigan Sports,Sport Touring Motorcycles,1.0,1.0,31212.0,31212.0,0.0
998,Paper Crafts,Boomer Wellness and Well-Being,16.0,16.0,31212.0,31212.0,0.0
999,LGBT Families San Francisco,Beauty Industry,1.0,1.0,31212.0,31212.0,0.0

### 2. Approach to create labeled data with features - word1, word2, isDuplicate

1. Randomly pick one file from the contains_duplicate dataset
2. Randomly pick two rows with a. same entitity number, b. different entitity number
3. Populate the output data with words and isDuplicate value according to the entity number from the two pairs of rows


In this approach we completely ignore the data statistics and context information

In [13]:
df2 = pd.DataFrame({'w1':[], 'w2':[], 'count1':[], 'count2':[], 'total1':[], 'total2':[], 'isDuplicate':[]})

for _ in range(100):
    file=random.choice(contains_dup_files)
    file_path=contains_dup_path+file
    tempdf=pd.read_csv(file_path)
    
    perEntityCatCount=tempdf['Entity_Number'].value_counts()

    for _ in range(3):
        tempdf['entityCount']=tempdf['Entity_Number'].apply(lambda x: perEntityCatCount[x])
        
        try:
            t=tempdf[tempdf['entityCount']>1].sample(n=1).reset_index()
            e=t.loc[0]['Entity_Number']
            t=tempdf[tempdf['Entity_Number']==e].sample(n=2).reset_index()
            w1,c1,t1,e1=t.loc[0]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[0]['Entity_Number']
            w2,c2,t2,e2=t.loc[1]['Category_Set'], t.loc[1]['Category_Occurrences'], t.loc[1]['Total_Examples'], t.loc[1]['Entity_Number']
            isDup=(e1==e2)
            df2 = df2.append({'w1':w1, 'w2':w2, 'count1':c1, 'count2':c2, 'total1':t1, 'total2': t2, 'isDuplicate':isDup}, ignore_index=True)
        except ValueError:
            pass

        try:
#             t=tempdf[tempdf['entityCount']==1].sample(n=2).reset_index()
            t=tempdf.sample(n=2).reset_index()
            w1,c1,t1,e1=t.loc[0]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[0]['Entity_Number']
            w2,c2,t2,e2=t.loc[1]['Category_Set'], t.loc[1]['Category_Occurrences'], t.loc[1]['Total_Examples'], t.loc[1]['Entity_Number']
            isDup=(e1==e2)
            df2 = df2.append({'w1':w1, 'w2':w2, 'count1':c1, 'count2':c2, 'total1':t1, 'total2': t2, 'isDuplicate':isDup}, ignore_index=True)

        except ValueError:
            pass

In [14]:
df2['isDuplicate'].value_counts()

df2_nodup = df2.drop_duplicates()

1.0    314
0.0    286
Name: isDuplicate, dtype: int64

# Aproach 3

Get all Pairs of duplicates

In [52]:
df3 = pd.DataFrame({'w1':[], 'w2':[], 'count1':[], 'count2':[], 'total1':[], 'total2':[], 'isDuplicate':[]})

# contains_dup_path

total = 0

for file in contains_dup_files:
    file_path=contains_dup_path+file
    tempdf=pd.read_csv(file_path)
    perEntityCatCount=tempdf['Entity_Number'].value_counts()
    
    tempdf['entityCount']=tempdf['Entity_Number'].apply(lambda x: perEntityCatCount[x])
    
    dupEntityNo = set((tempdf[tempdf['entityCount']>1])['Entity_Number'])
    
    print(len(dupEntityNo), file)
    total+=len(dupEntityNo)
    
    for eNo in dupEntityNo:
        t = tempdf[tempdf['Entity_Number']==eNo].reset_index()
        w1,c1,t1,e1=t.loc[0]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[0]['Entity_Number']
        w2,c2,t2,e2=t.loc[1]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[1]['Entity_Number']
        isDup=(e1==e2)
    
        df3 = df3.append({'w1':w1, 'w2':w2, 'count1':c1, 'count2':c2, 'total1':t1, 'total2': t2, 'isDuplicate':isDup}, ignore_index=True)
    
        df3 = df3.append({'w1':w2, 'w2':w1, 'count1':c2, 'count2':c1, 'total1':t2, 'total2': t1, 'isDuplicate':isDup}, ignore_index=True)

2 351 282 Suburb.csv
3 205 355 Suburb.csv
1 151 223 Currency Unit.csv
56 112 198 foreign_worker_info_state.csv
60 213 327 currency.csv
5 10 198 wage_offer_unit_of_pay_9089.csv
1 3 227 License Type.csv
86 738 261 organization.csv
15 388 282 SellerG.csv
3 291 168 city.csv
55 190 328 currency.csv
52 108 198 agent_state.csv
154 789 355 Colour.csv
1 152 131 CountryNumeric2.csv
1 152 127 Label.csv
1 49 328 item.csv
1 384 290 city.csv
855 2670 198 employer_phone_ext.csv
44 928 190 Venue.csv
1 46 241 Household Head Highest Grade Completed.csv
4 14 50 EVENT_TYPE.csv
7 87 325 currency.csv
6 731 225 SeriesCode.csv
14 961 163 topic_key.csv
6 95 324 currency.csv
13 905 198 pw_soc_title.csv
2 4 356 Animal_Desexed.csv
6 928 35 region.csv
5 10 198 pw_unit_of_pay_9089.csv
13 40 51 color1.csv
7 96 323 currency.csv
11 455 89 province.csv
56 113 198 job_info_work_state.csv
17 397 356 Suburb.csv
3 6 356 Gender.csv
7 167 266 state.csv
331 1217 355 Breed_Description.csv
30 293 225 CountryCode.csv
154 1169 198 preparer_info_title.csv
1 218 222 CountryCode.csv
67 223 326 currency.csv
2 10 356 Animal_Type.csv
9 928 191 Venue.csv
13 44 51 coat.csv
1 3 291 plant_type.csv
3 10 162 venue.city.csv
2 4 356 Microchipped.csv
22 961 163 topic_name.csv
3 55 351 IdentificationQualifier.csv
1 11 352 FundingMeth_GASB.csv
4 107 293 CITY.csv
56 113 198 employer_state.csv

In [53]:
df3.to_csv('')

2273

In [54]:
df3

,w1,w2,count1,count2,total1,total2,isDuplicate
0,Viewbank,viewbank,100.0,100.0,34857.0,34857.0,1.0
1,viewbank,Viewbank,100.0,100.0,34857.0,34857.0,1.0
2,Croydon,croydon,133.0,133.0,34857.0,34857.0,1.0
3,croydon,Croydon,133.0,133.0,34857.0,34857.0,1.0
4,Adelaide,adelaide,360.0,360.0,82545.0,82545.0,1.0
...,...,...,...,...,...,...,...
4541,WV,WEST VIRGINIA,188.0,188.0,374362.0,374362.0,1.0
4542,WI,WISCONSIN,1826.0,1826.0,374362.0,374362.0,1.0
4543,WISCONSIN,WI,1826.0,1826.0,374362.0,374362.0,1.0
4544,WYOMING,WY,65.0,65.0,374362.0,374362.0,1.0
4545,WY,WYOMING,65.0,65.0,374362.0,374362.0,1.0

In [40]:
for e in dupEntityNo:
    print(e)

121
93

In [ ]:

for _ in range(100):
    file=random.choice(contains_dup_files)
    file_path=contains_dup_path+file
    tempdf=pd.read_csv(file_path)
    for _ in range(10):
        t=tempdf.sample(n=2).reset_index()
        w1,c1,t1,e1=t.loc[0]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[0]['Entity_Number']
        w2,c2,t2,e2=t.loc[1]['Category_Set'], t.loc[0]['Category_Occurrences'], t.loc[0]['Total_Examples'], t.loc[1]['Entity_Number']
        isDup=(e1==e2)
        df1= df1.append({'w1':w1, 'w2':w2, 'count1':c1, 'count2':c2, 'total1':t1, 'total2': t2, 'isDuplicate':isDup}, ignore_index=True)